/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html{
    overflow-x: hidden ;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.navbar{
    .collapse{
        ul{
            li{
                @media (max-width:992px) {
                   line-height: 2.5; 
                }
                a{
                    font-size: .9rem;
                    margin-top: 10px;
                    i{
                        width:25px;
                        vertical-align: middle;
                    }
                    i.fa-angle-down{
                        @media (max-width:992px) {
                            float : left ;
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    }
}
main{
    #image{
        width: 97%;       
        padding: 1%;
        box-sizing: border-box;
        img{
            height: 300px;
        }                
    }
    #groping{
        .conteiner{
            width: 97%;
            .images{
                width: 50%;                          
                h6{
                    font-size: .8rem;
                }
            }            
        }
        @media (max-width:768px) {
            .conteiner{
                .images{
                    img{
                        margin-right: 80px;
                        margin-top: 20px;
                    }
                    h6{
                        margin-right: 150px;
                    }
                }
            }
        }
    }
    #bestselling{
        .conteiner{
            width: 93%;
            border-radius: 15px;
            .items{
                width: 90%;
                flex-wrap: wrap;
                .item{
                    width: 30%;
                    .image{
                        width: 30%;                        
                    }
                    .text{
                        width: 70%;
                    }
                    span.model{
                        font-size: .8rem;
                        line-height: 2;
                    }
                }
            }
        }
        @media (max-width:992px) {
            .conteiner{
                .items{
                    flex-wrap: wrap;
                    .item{
                        width: 50%;
                    }
                }
            }
        }
        @media (max-width:768px) {
            .conteiner{
                .items{
                    flex-wrap: wrap;
                    .item{
                        width: 100%;
                    }
                }
            }
        }
    }
    /*#product{
        .conteiner{
            width: 97%;
            .item{                
                h5{
                    margin-top: 190px;
                }                
            }
        }
    }*/
    
    #brand{
        .conteiner{
            width: 93%;
            margin-top: 20px;
            border-radius: 15px;
            .items{
                width: 90%;
                .item{
                    flex-wrap: wrap;
                    width: 25%;
                }
            }
        }
        @media (max-width:992px) {
            .conteiner{
                .items{
                    flex-wrap: wrap;
                    .item{
                        width: 50%;
                    }
                }
            }
        }
    }
    #content{
        .conteiner{
            width: 95%;
            p{
                font-size: .7rem;
            }  
        }       
    }
}

//css with single.html page//
main{
    #dec-product{
        .conteiner{
            width: 97%;
            flex-wrap: wrap;
            .icones{
                width: 7%;
            }
            .picZoomer{
                width: 20%;
            }
            .left{
                width: 68%;
                flex-wrap: wrap;
                .info{
                    width: 50%;
                    .option{
                        li{
                            font-size: .8rem;
                        }
                    }
                }
                .card{
                    width: 40%;               
                    h5{
                        font-size: .7rem;
                    }
                    span{
                        font-size: .9rem;
                    }
                    button{
                        width: 100%;
                        font-size: .8rem;
                        height: 40px;
                        border-radius: 10px;
                    }                    
                }
                .list{
                    li{
                        font-size: .9rem;
                    }
                }
            }
        }
        @media (max-width:992px) {
            .conteiner{
                .icones{
                    display: flex;                    
                }
                .icones{
                    width: 7%;
                }
                .picZoomer{
                    width: 70%;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }
                .left{
                    width: 88%;
                    .card{
                        width: 95%;              
                    }  
                }
            }
        }
    } 
    #similar-product{
        .conteiner{
            width: 97%;
            flex-wrap: wrap;
            h6{
                width: 10%;
            }
            .card{
                width: 20%;
                p{
                    font-size: .8rem;
                }
                span{
                    font-size: .9rem;
                    float: left;
                }
                img{
                    width: 60%;                    
                }
            }
        }
        @media (max-width:678px) {
            .conteiner{               
                h6{
                    width: 15%;
                    
                }
                .card{
                    width: 50%;                                     
                    img{
                        width: 70%;                    
                    }
                }
            }
        }
    }
    #information{
        .conteiner{
            width: 97%;
            position: relative;
            ul{
                list-style: none;
                position: sticky;
                top: 0;
                left: 0;
                li{
                    width: 7%;
                    a{
                        font-size: .9rem;
                    }
                }
            }
        }
        @media (max-width:768px) {
            .conteiner{
                display: none;
            }
        }
    }
    #description{
        .conteiner{
            width: 95%;
            h6{
                width: 8%;
            }
            p{
                font-size: .9rem;
                line-height: 2;
            }
            .text{
                flex-wrap: wrap;
                p{
                    width: 20%;
                }
                .list{
                    width: 70%;
                   ul{
                       width: 100%;
                       list-style: none;
                       li{
                        font-size: .8rem;
                        line-height: 3.5;
                    }
                   }
                }
            }
        }
    }
    @media (max-width:768px) {
        .conteiner{ 
            .text{               
                p{
                    display: none;
                }
                .list{
                    width: 100%;
                }
            }
        }
    }
}





footer{
    background : #222222;
}
.text-qnet-orange{
    color : #ec6726!important;
}
.bg-qnet-orange{
    background : #ec6726!important;
}